@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat/static/Montserrat-Regular.ttf);
    src: url(./fonts/Montserrat/static/Montserrat-SemiBold.ttf);
    src: url(./fonts/Roboto_Mono/static/RobotoMono-Light.ttf);
    src: url(./fonts/Roboto_Mono/static/RobotoMono-ExtraLight.ttf);
}